image: docker.km3net.de/jpp

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - venv/
  key: "$CI_COMMIT_REF_SLUG"

.virtualenv_template: &virtualenv_definition |
  python -V
  pip install virtualenv
  virtualenv venv
  source venv/bin/activate
  pip install -U pip setuptools
  pip install -U numpy
  pip install -Ur requirements.txt


stages:
    - build
    - doc

build:
    stage: build
    script:
        - _CWD=$(pwd) && cd /usr/local/root && source bin/thisroot.sh && cd $_CWD
        - source /Jpp/setenv.sh /Jpp
        - source setenv.sh
        - cd build 
        - cmake ../
        - make

pages:
    image: docker.km3net.de/base/python:2
    stage: doc
    script:
        - *virtualenv_definition
        - cd doc
        - make html
        - mv build/html ../public
    artifacts:
        paths:
            - public
    only:
        - master
